@model CalIndexViewModel

@{
    ViewData["Title"] = "คำนวน";
}

<center>
    <h1>
        เงินออมปัจจุบัน = @foreach (var saving in Model.Savings)
        {
            @saving.Wealt
        }
    </h1>
</center> 



<center><a class="btn btn-primary" asp-controller="Calculate" asp-action="Create">เพิ่มแผน</a></center>

<div style="display:flex">
@foreach(var plan in Model.InvestPlans){

    double YieldPerYear = plan.YieldPerYear * 100;
    double P = 0;

    foreach (var saving in Model.Savings)
    {
        P = saving.Wealt;
    }

    double A = P * Math.Pow(1 + plan.YieldPerYear / 1, 1 * plan.Time);

    <div class="card" style="width: 18rem; margin: 1.5rem;">
        <div class="card-body">
            <h5 class="card-title">@plan.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@plan.Description</h6>
            <p class="card-text"> เติบโตให้ได้ @YieldPerYear% ต่อเนื่องเป็นเวลา @plan.Time ปี ผลลัพธ์รวมดอกเบี้ยทบต้นทั้งหมดจะกลายเป็น @Math.Round(A, 2) </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
}
</div>


