@model IEnumerable<MMProject.Models.Saving>;

@{
    ViewData["Title"] = "รายการออม";
}

<center><a class="btn btn-primary" asp-controller="Fund" asp-action="Create">เพิ่มรายการออม</a></center>


@if (Model.Any())
{

    double? previousWealt = null;

    foreach (var saving in Model)
    {

        var difference = previousWealt.HasValue ? saving.Wealt - previousWealt.Value : (double?)null;

        <div class="card mt-4 shadow-sm border-0">

            @if (!previousWealt.HasValue)
            {
                <div class="card-header bg-primary text-white" style="display: flex; justify-content: space-between;">
                    <h5 class="mb-0">วันที่: @saving.Date (#@saving.Id)</h5>
                    <p class="card-text text-white" style="display: flex;">
                        <strong>ฝากครั้งแรก:</strong> @saving.Wealt
                    </p>
                </div>
            }
            else if (difference > 0)
            {
                <div class="card-header bg-primary text-white" style="display: flex; justify-content: space-between;">
                    <h5 class="mb-0">วันที่: @saving.Date (#@saving.Id)</h5>
                    <p class="card-text text-white text-end">
                        <strong>ฝาก:</strong> @Math.Abs(difference.Value)
                    </p>
                </div>
            }
            else if (difference < 0)
            {
                <div class="card-header bg-danger text-white" style="display: flex; justify-content: space-between;">
                    <h5 class="mb-0">วันที่: @saving.Date (#@saving.Id)</h5>
                    <p class="card-text text-white text-end">
                        <strong>ถอน:</strong> @Math.Abs(difference.Value)
                    </p>
                </div>
            }
            else
            {
                <div class="card-header bg-primary text-white" style="display: flex; justify-content: space-between;">
                    <h5 class="mb-0">วันที่: @saving.Date (#@saving.Id)</h5>
                    <p class="card-text text-white text-end">
                        ไม่มีการเปลี่ยนแปลงในรอบนี้
                    </p>
                </div>
            }
            
            <div class="card-body">

                <p class="card-title mt-3 text-muted">
                    <div class="text-center"> 
                        ยอดคงเหลือ
                        <br />
                        <h3> @saving.Wealt </h3>
                     </div>
                </p>
            </div>
            <div class="card-footer text-end bg-light">
                <a class="btn btn-outline-primary btn-sm" asp-controller="Fund" asp-action="Delete" asp-route-id="@saving.Id">ดูรายละเอียด</a>
            </div>
        </div>

        previousWealt = saving.Wealt;
    }
}



